# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.venv

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Datasets (Preventing massive CBIS-DDSM uploads)
data/
dataset/
*.dcm

# DO NOT IGNORE .pt or .pth
# The `advanced_model_best.pth` is required to be checked into version control for immediate deployment.
